.products {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: $main-bcg;
    padding-top: 121px;
    padding-bottom: 98px;

    // outline: 2px solid red;

    @include for-size(mobile) {
        width: 320px;
    }
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        max-width: 480px;
    }

    @include for-size(tablet) {
        padding-top: 122px;
        padding-bottom: 112px;
    } 

    @include for-size(desktop) {
        max-width: 1220px;
        padding-top: 127px;
        padding-bottom: 119px;
    } 
}

.section .flex-container {
    @media screen and (min-width: 319px) and (max-width: 767px) {
        max-width: 480px;
      }

    @media screen and (min-width: 319px) and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        margin-right: 0;
      }

    
      @include for-size(tablet) {
        max-width: 100%;
      }

      @include for-size(desktop) {
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
      }
}

.products-text {
    @include font('Titan One', normal, normal, 18px, 1.17, 0);    

    text-align: center;
    text-transform: uppercase;

    color: $pink;

    margin-bottom: 15px;

    @include for-size(tablet) {
        @include font('Titan One', normal, normal, 26px, 1.15, 0);  
        height: 30px;
    }

    @include for-size(desktop) {
        @include font('Titan One', normal, normal, 30px, 1.13, 0.04);  
        height: 34px;
    }
}


.products-title {
    @include font('Titan One', normal, normal, 34px, 1.15, 0.04em);

    text-align: center;    
    text-transform: uppercase;
    color: $red;
    height: 36px;
    margin-bottom: 144px;

    @include for-size(tablet) {
        @include font('Titan One', normal, normal, 48px, 1.15, 0);  
        height: 55px;
        margin-bottom: 150px;
    }
    

    @include for-size(desktop) {
        @include font('Titan One', normal, normal, 58px, 1.14, 0.06);  
        height: 66px;
        margin-bottom: 259px;
    }
}

.products-list {
    text-align: center;

    @include for-size(tablet) {
        @include container(flex, space-between, center);
    }  

    @include for-size(desktop) {
        @include container(flex, center, center);
    }
}

.product-title {
    @include font('Titan One', normal, normal, 20px, 1.15, 0.04em);

    text-align: center;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 30px;

    @include for-size(tablet) {
        margin-top: 30px;
    }

    @include for-size(desktop) {
        @include font('Titan One', normal, normal, 30px, 1.13, 0.04em);
        height: 34px;
        margin-top: 38px;
        margin-bottom: 32px;
    }
}

.product-text {
    @include font('DM Sans', normal, bold, 14px, 1.5, 0.04em);

    max-width: 200px;
    height: 124px;
    margin-right: auto;
    margin-left: auto;
    color: $white;
    margin-bottom: 30px;

    @include for-size(tablet) {
        @include font('DM Sans', normal, bold, 14px, 1.8, 0.04em);

        max-width: 198px;
        height: 124px;
    }

    @include for-size(desktop) {
        @include font('DM Sans', normal, bold, 16px, 1.8, 0.04em);

        max-width: 241px;
        height: 106px;
        margin-bottom: 62px;
    }
}

.text-hidden {
    @include for-size(tablet) {
        display: none;
    }

    @include for-size(desktop) {
        display: none;
    }
}

.product-list {
    position: relative;
    // max-width: 280px;
    max-height: 485px;
    border-radius: 24px;
    padding-top: 161px;
    padding-bottom: 41px;
    text-align: center;

    @include for-size(mobile) {
        max-width: 280px;
    }

    @include for-size(tablet) {
        width: 220px;
        // max-height: 589px;
        margin-right: 20px;
        margin-bottom: 0;
        padding-top: 134px;
    }

    // @media screen and (min-width: 1199px) {
    //     width: 329px;
    //     height: 589px;
    //     margin-right: 27px;
    // } 
    @include for-size(desktop) {
        width: 335px;
        max-height: 525px;
        
        margin-bottom: 0;
        padding-top: 134px;
        padding-bottom: 50px;
    }
}

.product-list:not(:last-child) {
    @media screen and (max-width: 767px){
        margin-bottom: 129px;
    }
}

.product-list:first-child {
    background-color: $hero-bcg;

    @include for-size(desktop) {
        margin-right: 24px;
    }
}

.product-list:nth-child(even) {
    background-color: #F0D1A5;

    @include for-size(desktop) {
        width: 337px;
        margin-right: 23px;
    }
}

.product-list:last-child {
    background-color: #C2E297;

    @include for-size(tablet) {
        margin-right: 0;
    }

    @include for-size(desktop) {
        margin-right: 0;
    }
}

.product-icon--link {
    height: 6px;
    text-align: center;
    margin-bottom: 30px;

    @include for-size(desktop) {
        margin-bottom: 32px;
    }
}

.product-image {
    // max-width: 249px;
    position: absolute;
    top: -113px;
    bottom: 113px;
    right: 15px;
    left: 16px;
    z-index: 1;

    // @include for-size(mobile)
    @media screen and (max-width: 767px) {
        max-width: 249px;
        max-height: 252px;
    }

    @include for-size(tablet) {
        width: 220px;
        left: 5px;
        // top: -104px;

        // &:nth-child(even) {
        //     top: 100px;
        // }
    } 
    
    @include for-size(desktop) {
        width: 335px;
        height: 335px;
        left: 5px;
        top: -200px;
    }
}

.product-image:first-child {
    @include for-size(tablet) {
        max-height: 226px;
        top: -104px;
    }
}

.product-image:nth-child(even) {
    @include for-size(tablet) {
        max-height: 233px;
        top: -111px;

    }

    @include for-size(desktop) {
        max-width: 337px;
        max-height: 335px;
    }
} 

.product-image:last-child {
    @include for-size(tablet) {
        max-height: 224px;
        top: -102px;
    }
}

.product-icon--arrow {
    display: inline-block;
}