.products {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: $main-bcg;
    padding-top: 121px;
    padding-bottom: 98px;

    // outline: 2px solid red;

    @include for-size(mobile) {
        width: 320px;
    }
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        max-width: 480px;
    }

    @include for-size(tablet) {
        padding-bottom: 112px;
    }
    
}

.section .flex-container {
    @media screen and (min-width: 319px) and (max-width: 767px) {
        max-width: 480px;
      }

    @media screen and (min-width: 319px) and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        margin-right: 0;
      }

    
      @include for-size(tablet) {
        max-width: 100%;
        // max-width: 770px;
        // margin-right: auto;
        // margin-left: auto;
        // padding-right: 0;
        // padding-left: 0;
        // margin-right: 0;
        // margin-left: 0;
      }
}

.products-text {
    @include font('Titan One', normal, normal, 18px, 1.17, 0);    

    text-align: center;
    text-transform: uppercase;

    color: $pink;

    margin-bottom: 15px;

    @include for-size(tablet) {
        @include font('Titan One', normal, normal, 26px, 1.15, 0);  
    }
}


.products-title {
    @include font('Titan One', normal, normal, 34px, 1.15, 0.04em);

    text-align: center;    
    text-transform: uppercase;
    color: $red;
    margin-bottom: 144px;

    @include for-size(tablet) {
        @include font('Titan One', normal, normal, 48px, 1.15, 0);  
    }
    margin-bottom: 152px;
}

.products-list {
    text-align: center;

    @include for-size(tablet) {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    
}

.product-title {
    @include font('Titan One', normal, normal, 20px, 1.15, 0.04em);

    text-align: center;
    text-transform: uppercase;

    color: $white;

    margin-bottom: 30px;
}

.product-text {
    @include font('DM Sans', normal, bold, 14px, 1.5, 0.04em);

    max-width: 200px;
    margin-right: auto;
    margin-left: auto;

    color: $white;
    margin-bottom: 30px;

    @include for-size(tablet) {
        max-width: 198px;
    }
}

.product-list__1 {
    position: relative;
    max-width: 280px;
    max-height: 598px;
    background-color: $hero-bcg;
    border-radius: 24px;
    text-align: center;
    padding-top: 161px;
    padding-bottom: 41px;
    margin-bottom: 129px;

    @include for-size(tablet) {
        max-width: 240px;
        max-height: 485px;
        margin-right: 20px;
        margin-bottom: 0;
        padding-top: 134px;
    }
}

.product-list__2 {
    position: relative;
    max-width: 280px;
    max-height: 598px;
    background-color: #F0D1A5;
    border-radius: 24px;
    padding-top: 161px;
    padding-bottom: 41px;
    margin-bottom: 129px;

    @include for-size(tablet) {
        max-width: 240px;
        max-height: 485px;
        margin-right: 20px;
        margin-bottom: 0;
        padding-top: 134px;
    }
}

.product-list__3 {
    position: relative;
    max-width: 280px;
    max-height: 598px;
    background-color: #C2E297;
    border-radius: 24px;
    padding-top: 161px;
    padding-bottom: 41px;

    @include for-size(tablet) {
        max-width: 240px;
        max-height: 485px;
        padding-top: 134px;
    }
}

.product-icon--link {
    text-align: center;
    margin-bottom: 30px;
}

.product-image {
    max-width: 249px;
    position: absolute;
    top: -113px;
    bottom: 113px;
    right: 15px;
    left: 16px;
    z-index: 1;

    @include for-size(tablet) {

        top: -75px;
    }
}


.product-icon--arrow {
    display: inline-block;
}